.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  background-color: rgb(17, 16, 16);
}

.logo {
  width: 44px;
  margin: 0 1.5rem 0 0;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  color: white;
}
