.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  background-color: rgb(17, 16, 16);
}

.logo {
  width: 2.75rem;
  margin: 0 1.5rem 0 0;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

@media (max-width: 992px) {
  .header {
    height: 5rem;
  }

  h1 {
    font-size: 1.75rem;
  }
}
